html {
    font-size: 14px;
    /*background-color: white;*/
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background-color: #f8f9fa; /* Light neutral background */
    font-family: Arial, sans-serif;
    color: #424242;
}

